.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}
.lead__title {
  max-width: 720px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: calc(40px + 56 * (100vw - 320px) / 447);
    line-height: calc(44px + 66 * (100vw - 320px) / 447);
  }
}

.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 32px 0 64px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
      font-size: calc(16px + 14 * (100vw - 320px) / 447);
      line-height: calc(20px + 16 * (100vw - 320px) / 447);
      padding: 16px 0 40px 0;
    }
  }
  
.lead__figure {
  margin: 0;
  padding: 0;
  align-items: center;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  align-self: flex-start;
}
