.intro {
    display: flex;
    align-self: flex-start;
    max-width: 984px;
    margin: 0 auto;
    padding: 0px;
    grid-template-columns: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
      width: 720px;
    }
}


@media screen and (max-width: 767px) {
    .intro {
      margin: 0 16px;
    }
}

.intro__container {
    width: 750px;
    align-self: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__container {
      width: 720px;
    }
}

.intro__title {
    font-style: normal;
    Font-size: 54px;
    Line-height: 58px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .intro__title {
    font-size: 33px;
    line-height: 36px;
    }
}

.intro__text {
    font-style: normal;
    Font-size: 16px;
    Line-height: 26px;
    padding-bottom: 34px;
    margin: 0;
}

.intro__list {
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600; 
    margin: 0; /* расстояние до секции photo-grid лежит в photo grid */
}

.intro__list-text_span {
    font-weight: normal
}

