.footer {
  max-width: 1184px;
  margin: 0px auto;
  padding: 0 0 24px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin: 0 0 0 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    margin: 0 48px 0 48px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .footer__container {
        row-gap: 48px;
    }
}

.container__links {
  grid-column-gap: 18px;
  display: flex;
  gap: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
    .container__links {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .container__links {
        row-gap: 32px;
    }
}
.footer__link {
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  filter: brightness(75%);
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15 px;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        display: flex;
    }
}
